.overImg{
    width:200px;
    height:200px;
    border-radius:3px;
    background-color:black;
    position: absolute;
    top: 10px;
    left:25px;
    opacity: 0;
    font-size: 20px;
    text-align: center;
    color: white;
    line-height:200px;
    cursor: pointer;   
}
.overImg:hover{
    opacity: 0.6;
}